<__trans_section component="Jev">
<link rel="stylesheet" href="<mt:var name="static_uri" escape="html">plugins/Jev/header_search.css">
<script src="<mt:var name="static_uri" escape="html">plugins/Jev/header_search.js" data-jev-header data-default="<mt:var name="jev_header_default">" data-label="<__trans phrase="Search with natural language" escape="html">" defer></script>
</__trans_section>
